@font-face {
	font-family: 'nlicons';
	src:url('../fonts/nlicons/nlicons.eot');
	src:url('../fonts/nlicons/nlicons.eot?#iefix') format('embedded-opentype'),
		url('../fonts/nlicons/nlicons.woff') format('woff'),
		url('../fonts/nlicons/nlicons.ttf') format('truetype'),
		url('../fonts/nlicons/nlicons.svg#nlicons') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* general style for the form */
.nl-form {
	width: 100%;
	margin: 0.3em auto 0 auto;
	font-size: 4em;
	line-height: 1.5;
}

.nl-form ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

/* normalize the input elements, make them look like everything else */
.nl-form input,
.nl-form select,
.nl-form button {
	border: none;
	background: transparent;
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	font-weight: inherit;
	line-height: inherit;
	display: inline-block;
	padding: 0;
	margin: 0;
	-webkit-appearance: none;
	-moz-appearance: none;
}

.nl-form input:focus {
	outline: none;
}

/* custom field (drop-down, text element) styling  */
.nl-field {
	display: inline-block;
	position: relative;
}

.nl-field.nl-field-open {
	z-index: 10000;
}

/* the toggle is the visible part in the form */
.nl-field-toggle,
.nl-form input,
.nl-form select  {
	line-height: inherit;
	display: inline-block;
	color: #5AA3E8;
	cursor: pointer;
	border: none;
}

.nl-field-toggle:hover {
	color: #5AA3E8;
}

/* drop-down list / text element */
.nl-field ul {
	position: absolute;
	visibility: hidden;
	font-size: 80%;
	opacity: 0;
	-moz-transition: none;
	-webkit-transition: none;
	-o-transition: color 0 ease-in;
	transition: none;
	list-style: none;
	padding: 0;
	background: #FFF;
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
	border: 1px solid #DEDEDE;
	display: none;
}

.nl-field.nl-field-open ul {
	visibility: visible;
	-moz-transition: none;
	-webkit-transition: none;
	-o-transition: color 0 ease-in;
	transition: none;
	list-style: none;
	padding: 0;
	margin-left: -20px;
	opacity: 1;
	display: block;
}

.nl-field ul li {
	color: #5AA3E8;
	font-size: 14px;
	text-align: left;
	margin: 0;
	padding: 10px 20px;
	overflow: hidden;
	position: relative;
}

.nl-dd ul li {
	padding: 10px 20px;
	cursor: pointer;
	white-space: nowrap;
}

.no-touch .nl-dd ul li:hover {
	background: #F5F5F5;
	color: #5AA3E8;
}

.no-touch .nl-dd ul li:hover:active {
	color: #FFF;
}

.nl-dd ul li.nl-dd-checked,
.nl-dd ul li.nl-dd-checked:hover {
	color: #FFF;
	background: #5AA3E8;
}

/* icons for some elements */
.nl-dd ul li.nl-dd-checked:before,
.nl-submit:before,
.nl-field-go:before {
	font-family: 'nlicons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	-webkit-font-smoothing: antialiased;
	content: "";
}

.nl-field.nl-ti-text ul {
	min-width: 8em;
	margin-left: -26px;
}

.nl-ti-text ul li.nl-ti-input {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
}

.nl-ti-text ul li.nl-ti-input input {
	width: 100px;
	padding: 2px 5px;
	border-bottom: none;
	color: #5AA3E8;
	border: 1px solid #dedede;
	text-align: left;
}

.nl-field-go {
	cursor: pointer;
	background: #5AA3E8;
	width: 35px;
	text-align: center;
	color: #FFF;
	border: medium none;
}

/* custom placeholder color */
input::-webkit-input-placeholder {
	color: rgba(0, 0, 0, 0.1);
}

input:active::-webkit-input-placeholder ,
input:focus::-webkit-input-placeholder {
	color: rgba(255,255,255,0.2);
}

input::-moz-placeholder {
	color: rgba(255,255,255,0.8);
}

input:active::-moz-placeholder,
input:focus::-moz-placeholder {
	color: rgba(255,255,255,0.2);
}

input:-ms-input-placeholder {
	color: rgba(255,255,255,0.8);
}

input:active::-ms-input-placeholder ,
input:focus::-ms-input-placeholder {
	color: rgba(255,255,255,0.2);
}

/* submit button */
.nl-submit-wrap {
	margin-top: 0.4em;
}

.nl-submit {
	line-height: 3;
	text-transform: uppercase;
	cursor: pointer;
	position: relative;
	background: #76C3BD;
	color: #fff;
	padding: 0 1em 0 0;
	font-size: 40%;
	font-weight: bold;
	letter-spacing: 3px;
}

/* overlay becomes visible when a field is opened */
.nl-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.01);
	opacity: 0;
	z-index: 9999;
	visibility: hidden;
	-moz-transition: none;
	-webkit-transition: none;
	-o-transition: color 0 ease-in;
	transition: none;
}

.nl-field.nl-field-open ~ .nl-overlay {
	opacity: 1;
	visibility: visible;
	-webkit-transition-delay: 0s;
	-moz-transition-delay: 0s;
	transition-delay: 0s;
}

@media screen and (max-width: 45em) {
	.nl-form {
		font-size: 3em;
	}
}

@media screen and (max-width: 25em) {
	.nl-form {
		font-size: 2em;
	}
}